.cell {
  width: 30px;
  height: 30px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  transition: 0.1s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  &:active{
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
}

.open{
  background-color: rgb(218, 218, 218);
  cursor: default;
  &:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(0px);
  }
  
  &:active{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(0px);
  }
}